---
import Layout from '@layouts/Layout.astro';
import { type Post, fetchPosts } from '@api/post';
import { marked } from 'marked';

export async function getStaticPaths() {
  const posts = await fetchPosts<Post[]>({
    endpoint: 'posts?populate=*',
    wrappedByKey: 'data'
  });
  return posts.map((post) =>({
    params: { slug: post.attributes.slug },
    props: post
  }));
}

const post = Astro.props;
const { attributes: postAttributes } = post;
const { title, featuredPicture, content } = postAttributes;
const parsedContent = marked.parse(content ?? '');
const featuredPictureFormats = featuredPicture.data.attributes.formats;
const srcSetUrls = `${featuredPictureFormats.small.url} 500w, ${featuredPictureFormats.medium.url} 800w, ${featuredPictureFormats.large.url} 1000w`
---
<Layout title={post.attributes.title}>
  <h1 class="text-4xl lg:text-5xl pb-2 capitalize">{title}</h1>
  <figure class="py-2">
    <picture>
    <img 
      srcset={srcSetUrls}
      sizes="(max-width: 480px) 500px, (max-width: 800px) 800px, 1000px"
      src={featuredPictureFormats.large.url}
      alt={featuredPicture.data.attributes.caption} 
      decoding="async" 
      loading="lazy" 
    />
    </picture>
    <figcaption class="text-xs text-gray-500">{featuredPicture.data.attributes.caption}</figcaption>
  </figure>
  <article class="lg:text-xl py-2 lg:pb-16 flex flex-col gap-y-6 lg:gap-y-8" set:html={parsedContent} />
</Layout>

